# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# genkit
.genkit/*

# env
.env*

# firebase
firebase-debug.log
firestore-debug.log
ui-debug.log

# agents
.agents/
.vscode/
backend_info.txt
metadata.json
studio.json
skills-lock.json